#后缀名
*.csproj
*.sln
*.unityproj
*.userprefs
*.vs
*.vscode
*.vsconfig
*.idea
*.pyc

#文件夹
Assets/Assets/*
Assets/XLua/Out/
Recordings
Test
Build
BuiltinFiles
Library
Packages
ServerData
Temp
UserSettings
obj
Root~
_TerrainAutoUpgrade
Logs
AddressableAssetsData
StreamingAssets
GeneratedLocalRepo
Gen
HybridCLRData

**/Export/Ai
**/Export/Config
**/Export/Language
**/Export/Hotfix
**/Lua/Examples
**/Lua/Hot/Data
**/Effect/Z_Test

#meta
**/Export/Config.meta
**/Export/Language.meta
**/Lua/Hot/Data.meta
AddressableAssetsData.meta
_TerrainAutoUpgrade.meta

#具体文件
build_info
sysinfo.txt
Python 导BuffContact日志.log
Python 导Lua日志.log
Python 导表日志.log
Python 导多语言日志.log
ASBuildConfig.asset
ASBuildConfig.asset.meta

#黑名单
[Bb]undles
[Ss]andbox
[Bb]uild

#白名单
![Pp]ackages/com.tuyoogame.yooasset
/Assets/Resources/ASConfig.asset
/Assets/Editor/ConsoleWindowConfig.asset.meta
/Assets/Editor/ConsoleWindowConfig.asset
/Assets/XLua/Out.meta
